@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display:flex;
    align-items: center;
    box-shadow:2px;
}
header * {
    display:inline;
}
header li {
    margin:20px;
}
header li a {
    color: #fafafa;
    text text-decoration:none;
    font-family:Dancing Script;
    font-size:100%
}
nav {
    background: transparent;
    position:fixed;
    top: 0;
    left: 0;
    padding:10px 70px 10px 70px;
    width:100%
    right: 0;
}
#front-page {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-asadphoto-1024968.jpg') no-repeat center center/cover;
    position: relative;

}
#holly-text h2 {
    color:#fafafa;
    font-family: Dancing Script;
    left: 0;    
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 200%;
}

